<footer>

<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <a href="/">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
    <!-- pv的方式，单个用户连续点击n篇文章，记录n次访问量 -->
	<span id="busuanzi_container_site_pv">
	    本站总访问量<span id="busuanzi_value_site_uv"></span>次
	</span>
  </a>


</footer>